body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(231, 235, 240);
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 400px;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.MuiCalendarPicker-root .MuiPickersDay-root {
  border: 1px solid #4caf50;
}

.MuiCalendarPicker-root .MuiPickersDay-root.Mui-disabled, .MuiCalendarPicker-root .MuiPickersDay-root.Mui-selected {
  border:none;
}

.MuiCalendarPicker-root .MuiPickersDay-root.Mui-disabled.MuiPickersDay-today {
  border: 1px solid rgba(0, 0, 0, 0.2);
}